
<strong><%= @bookmark.name %></strong> <br>
<a href="<%= @bookmark.url %>" target="_blank" rel="noopener"> <%= @bookmark.url %>  </a> <br>
Owner ID: <%=  @bookmark.user_id%> <br>
<%= link_to "Delete", bookmark_path(@bookmark.id), method: :delete, data: { confirm: "Are you sure?" } %>