<div class="signup-form">
<h1>Sign Up</h1>

<%= render partial: "layouts/errors", locals: {object: @user} %>

  <h2>!!! This information can't be changed, please be carefull !!!</h2>

  <%= form_with url: "/signup", method: :post do |f| %>
    <%= f.label :username %>:
    <%= f.text_field :username %>
    <br><br>
    <%= f.label :email %>:
    <%= f.email_field :email, required:true %>
    <br> <br>
    <%= f.label :password %>:
    <%= f.password_field :password %>
    <br><br>
    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit "Sign Up" %>
  <% end %>
  <%= button_to "Go back", :back, method: :get %>
</div>