<h1>Welcome <%= @user.username%></h1>
<h2>Your email is: <%= @user.email%></h2>
<h2>Your User ID is: <%= @user.id%></h2>

<%= button_to "Go To #{@user.username} Bookmarks", user_bookmarks_path(@user), method: :get %>
<h3>👇<%= "#{@user.username}" %> Bookmarks👇</h3>

  <% @user.bookmarks.each do |b| %>
  <li>
        <a href="<%= b.url %>" target="_blank" rel="noopener"> <%= b.name %>  </a> --
        <%= link_to "Show", bookmark_path(b) %> --
        <%= link_to "Edit", edit_bookmark_path(b) %> --
        <%= link_to "Delete", bookmark_path(b), method: :delete, data: { confirm: "Are you sure?" } %>
      </li>
  <% end %>
