<% if @bookmark %>
<h1> Tags for <%= @bookmark.name %> </h1>
<% else %>
<h1> All Tags </h1>
<% end %>

  <% @tags.each do |t| %>
  <ul>
      Tag Name: <%= t.name %> <br>
      Tag Creator: <%= t.user.username%> <br>
      Bookmark Tagged: <strong><%= link_to t.bookmark.name, bookmark_path(t.bookmark_id) %></strong> <br>
      Bookmark counts: <%= t.bookmark_counts %> <br>
      <%= link_to 'View', tag_path(t.id) %>
      <% if t.user == current_user %>
              <%= link_to 'Edit', edit_tag_path(t), method: :get %>
              <%= link_to 'Delete', tag_path(t), method: :delete, data: { confirm: 'Are you sure?' } %> <br>
      <% end %>
  </ul>
  <% end %>




