<% if @bookmark %>
<h1> Tags for <%= @bookmark.name %> </h1>
<% else %>
<h1> All Tags </h1>
<% end %>

  <% @tags.each do |t| %>
  <li>
      Tag Name: <%= t.name %> <br>
      Tag Creator: <%= t.user.username%> <br>
      <%= link_to 'Delete', tag_path(t), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_tag_path(t), method: :get %>
      <ul>
        Bookmark Tagged: <strong><%= link_to t.bookmark.name, bookmark_path(t.bookmark_id) %></strong> <br>
      </ul>

  </li>
  <% end %>




